:root {
    --primary-color: #3f48cc;
    --secondary-color: #adadad;
    --box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.3);
}

body {
    margin-top: 100px;
}

h1 {
    margin: 0;
    font-size: 96px;
}

h2 {
    margin: 0;
    font-size: 48px;
}

h3 {
    margin: 0;font-size: 24px;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

.navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.navigation-links a {
    margin: 20px;
}

.primary-link {
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    background-color: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
}

.secondary-link {
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.about-paragraphs {
    margin: 30px 0;
}

.about-paragraphs p {
    margin: 10px;
}

.image {
    border-radius: 4px;
    box-shadow: var(--box-shadow);
}

.email-link {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 28px;
    text-decoration: none;
}

.email-link:hover {
    text-decoration: underline;
}